In [4]:
'''PASS - pass keyword helps us to get through with the code when there is nothing for the output'''

'PASS - pass keyword helps us to get through with the code when there is nothing for the output'

In [7]:
if (4>2):
     pass

In [8]:
#CONTINUE - This keyword helps us to skip a particular iteration while working with the loops.
for i in range(10):
    if(i==5):
        continue
    else:
        print(i)

0
1
2
3
4
6
7
8
9

In [9]:
n=10
while(n!=0):
    print(n)
    n=n-1

10
9
8
7
6
5
4
3
2
1

In [10]:
l1=[1,2,'a',34.5]
t1=(1,2,3,4,5)
dict={'Virat':18,'Dhoni':7,'Sachin':10}
print("List")
for i in l1:
    print(i)
print("\nTuple")
for i in t1:
    print(i)
print("\nDictionary")
vals=list(dict.values())
for i in vals:
    print(i)

List
1
2
a
34.5

Tuple
1
2
3
4
5

Dictionary
18
7
10